---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: #dfe6e9;
    background-color: #2d3436;
  }
</style>
