---
import '../styles/global.css';
import background from '../assets/watercolor-background.jpg';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { pageTitle } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>

  <Header />
  <body>
    <img id='background' src={background.src} alt='' fetchpriority='high' />
    <main>
      <section id='hero'>
        <h1>
          {pageTitle}
        </h1>
        <slot />
      </section>
    </main>

    <Footer />
  </body>
  <script>
    import '../scripts/menu.ts';
  </script>

  <style>
    h1 {
      background: -webkit-linear-gradient(top left, #ff7675, #a29bfe);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  </style>


</html>
